.App{
  width:100%;
}
.landingline{
  text-align: center;
  margin-top: 40px;
  
}
.landingpfp{
  text-align: center;
  margin-top: 120px;
  margin-left: 300px
  
}

.landingquotedown{
  text-align: center;
  margin-top: 38px;
  
}
.landingquoteup{
  text-align: center;
  margin-top: -25px;
}
 /* directory */

.directory{
  text-align: center;

  /*margin-left: 100px; */
}
.elements{
  display: inline-block;
  padding: 1rem 1rem;
}
.pelements{
  display: inline-block;
  top: 59%;
  padding: 1rem 1rem;
}
 /* icons */
.icon{
  text-align: center;
  margin-top: 4px;
  
}
.iconp{
  display: inline-block;
  padding: 1rem 1rem;
  
}