.App{
  width:100%;
}
.landingline{
  text-align: center;
  margin-top: 40px;
  
}
.landingpfp{
  text-align: center;
  margin-top: 120px;
  margin-left: 300px
  
}

.landingquotedown{
  text-align: center;
  margin-top: 38px;
  
}
.landingquoteup{
  text-align: center;
  margin-top: -25px;
}
 /* directory */

.directory{
  text-align: center;

  /*margin-left: 100px; */
}
.elements{
  margin-top: 25px;
  display: inline-block;
  background:none;
  border:none;
  padding: 1rem 1rem;
  cursor: pointer;
  
}
.elements:hover{
  background:#dceee0;
}
.pelements{
  display: inline-block;
  border:none;
  background:none;
  vertical-align: -2.5px;
  padding: 1rem 1rem;
}
.pelements:hover{
  background:#dceee0;
}
 /* icons */
.icon{
  text-align: center;
  margin-top: 4px;
  
}
.iconp{
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  
}